Repository pythonpete32/claude-swarm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-core, lint-ui, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-core:
      glob: "packages/core/**/*.{js,ts,jsx,tsx,json}"
      run: cd packages/core && bunx biome check --write {staged_files}
      stage_fixed: true
    lint-ui:
      glob: "packages/ui/**/*.{js,ts,jsx,tsx,json}"
      run: echo "UI linting skipped for now"
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

pre-push:
  commands:
    tests:
      run: bun run test:run
    build:
      run: bun run build

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message validation passed"

Feat/comprehensive documentation structure (#58)
  .gitignore
  packages/docs/temp/README.mdx
  packages/docs/temp/SITE_STRUCTURE.mdx
  packages/docs/temp/SUMMARY.mdx
  packages/docs/temp/agents/README.mdx
  packages/docs/temp/agents/planning-agents.mdx
  packages/docs/temp/api/README.mdx
  packages/docs/temp/architecture/README.mdx
  packages/docs/temp/architecture/system-architecture.mdx
  packages/docs/temp/development/README.mdx
  packages/docs/temp/getting-started/installation.mdx
  packages/docs/temp/getting-started/quick-start.mdx
  packages/docs/temp/getting-started/what-is-claude-codex.mdx
  packages/docs/temp/troubleshooting/common-issues.mdx
  packages/docs/temp/user-guide/README.mdx
  packages/docs/temp/workflows/README.mdx
  packages/docs/temp/workflows/development-workflow.mdx
Due: none

chore: update Claude settings configuration
  .claude/settings.local.json
Due: none

chore: remove excalidraw.log from git tracking
  excalidraw.log
Due: none

feat(docs): replace boilerplate with real Claude Codex content and fix build issues
  packages/docs/CLAUDE.md
  packages/docs/docs/pages/agents/index.mdx
  packages/docs/docs/pages/agents/planning.mdx
  packages/docs/docs/pages/api/core.mdx
  packages/docs/docs/pages/api/index.mdx
  packages/docs/docs/pages/concepts/architecture.mdx
  packages/docs/docs/pages/concepts/index.mdx
  packages/docs/docs/pages/contributing/docs.mdx
  packages/docs/docs/pages/contributing/index.mdx
  packages/docs/docs/pages/getting-started.mdx
  packages/docs/docs/pages/index.mdx
  packages/docs/docs/pages/installation.mdx
  packages/docs/docs/pages/playground.mdx
  packages/docs/docs/pages/troubleshooting/common-issues.mdx
  packages/docs/docs/pages/user-guide.mdx
  packages/docs/docs/pages/what-is-claude-codex.mdx
  packages/docs/docs/pages/workflows/development.mdx
  packages/docs/docs/pages/workflows/index.mdx
  packages/docs/vocs.config.ts
  packages/server/src/index.js
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/components/dashboard/Dashboard.tsx
  packages/ui/src/components/kanban/KanbanBoard.tsx
  packages/ui/src/components/terminal/TerminalView.tsx
Due: lint-ui, typecheck

feat(docs): transform documentation from boilerplate to real Claude Codex content (#59)
  .claude/settings.local.json
  excalidraw.log
  packages/docs/CLAUDE.md
  packages/docs/docs/pages/agents/index.mdx
  packages/docs/docs/pages/agents/planning.mdx
  packages/docs/docs/pages/api/core.mdx
  packages/docs/docs/pages/api/index.mdx
  packages/docs/docs/pages/concepts/architecture.mdx
  packages/docs/docs/pages/concepts/index.mdx
  packages/docs/docs/pages/contributing/docs.mdx
  packages/docs/docs/pages/contributing/index.mdx
  packages/docs/docs/pages/getting-started.mdx
  packages/docs/docs/pages/index.mdx
  packages/docs/docs/pages/installation.mdx
  packages/docs/docs/pages/playground.mdx
  packages/docs/docs/pages/troubleshooting/common-issues.mdx
  packages/docs/docs/pages/user-guide.mdx
  packages/docs/docs/pages/what-is-claude-codex.mdx
  packages/docs/docs/pages/workflows/development.mdx
  packages/docs/docs/pages/workflows/index.mdx
  packages/docs/vocs.config.ts
  packages/server/src/index.js
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/components/dashboard/Dashboard.tsx
  packages/ui/src/components/kanban/KanbanBoard.tsx
  packages/ui/src/components/terminal/TerminalView.tsx
Due: lint-ui, typecheck

feat(docs): harmonize Codex architecture with refined three-agent system
  packages/docs/architecture/claude-swarm-architecture-v2.md
  packages/docs/codex/architecture-design.md
  packages/docs/codex/database-schema.md
  packages/docs/codex/mcp-server-specification.md
  packages/docs/codex/ui-component-architecture.md
Due: none

docs(architecture): harmonize and finalize Claude Codex architecture specifications
  packages/docs/architecture/architectural-decisions-record.md
  packages/docs/architecture/claude-swarm-architecture-v2.md
  packages/docs/codex/architecture-design.md
  packages/docs/codex/core-database-integration.md
  packages/docs/codex/database-schema.md
  packages/docs/codex/mcp-server-specification.md
  packages/docs/codex/workflows-package-specification.md
Due: none

feat(docs): implement comprehensive database module specification with Drizzle ORM
  .claude/settings.local.json
  database-implementation-prompt.xml
  packages/docs/spec/02-core-modules.md
  packages/docs/spec/modules/core-database.md
Due: none

fix(docs): move database implementation prompt to correct location
  packages/docs/spec/prompts/database-implementation-prompt.xml
Due: none

feat(database): implement comprehensive database module with Drizzle ORM + libSQL
  .claude/settings.local.json
  .gitignore
  bun.lock
  packages/core/IMPLEMENTATION_REPORT.md
  packages/core/drizzle.config.ts
  packages/core/migrations/0000_dry_tyger_tiger.sql
  packages/core/migrations/meta/0000_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/core/DATABASE_USAGE.md
  packages/core/src/core/database.ts
  packages/core/src/db/migrate.ts
  packages/core/src/db/schema.ts
  packages/core/src/shared/errors.ts
  packages/core/tests/fixtures/test-data.ts
  packages/core/tests/fixtures/test-utils.ts
  packages/core/tests/integration/database-integration.test.ts
  packages/core/tests/unit/database.test.ts
  packages/core/tests/unit/migrations.test.ts
Due: lint-core, typecheck

feat(database): implement comprehensive database module with Drizzle ORM + libSQL (#60)
  .claude/settings.local.json
  .gitignore
  bun.lock
  packages/core/IMPLEMENTATION_REPORT.md
  packages/core/drizzle.config.ts
  packages/core/migrations/0000_dry_tyger_tiger.sql
  packages/core/migrations/meta/0000_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/core/DATABASE_USAGE.md
  packages/core/src/core/database.ts
  packages/core/src/db/migrate.ts
  packages/core/src/db/schema.ts
  packages/core/src/shared/errors.ts
  packages/core/tests/fixtures/test-data.ts
  packages/core/tests/fixtures/test-utils.ts
  packages/core/tests/integration/database-integration.test.ts
  packages/core/tests/unit/database.test.ts
  packages/core/tests/unit/migrations.test.ts
  packages/docs/spec/02-core-modules.md
  packages/docs/spec/modules/core-database.md
  packages/docs/spec/prompts/database-implementation-prompt.xml
Due: lint-core, typecheck

fix(lefthook): fix lefthook configuration and standardize code quality across monorepo
  biome.json
  lefthook.yml
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/docs/package.json
  packages/server/package.json
  packages/ui/package.json
Due: typecheck

feat(tooling): complete Biome migration across all packages
  packages/cli/biome.json
  packages/server/biome.json
  packages/server/package.json
  packages/ui/biome.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/components/dashboard/CreateInstanceForm.tsx
  packages/ui/src/components/dashboard/InstanceCard.tsx
  packages/ui/src/components/terminal/TerminalView.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/main.tsx
  packages/ui/tsconfig.app.json
Due: lint-ui, typecheck

feat(docs): implement comprehensive database module specification with Drizzle ORM
  database-implementation-prompt.xml
Due: none

fix(docs): move database implementation prompt to correct location
  database-implementation-prompt.xml
Due: none

feat(docs): replace deprecated workflows documentation with orchestration package details
  packages/docs/spec/03-workflows.md
  packages/docs/spec/09-workflows-orchestration.md
  packages/docs/spec/README.md
  packages/docs/spec/modules/workflows-package.md
  packages/docs/spec/prompts/workflows-implementation-prompt.xml
Due: none

feat(workflows): implement complete MCP-integrated workflow system
  CLEAN_ARCHITECTURE_PLAN.md
  bun.lock
  package.json
  packages/core/src/core/database.ts
  packages/core/src/core/tmux.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/mcp-coding/package.json
  packages/mcp-coding/src/index.ts
  packages/mcp-coding/src/server.ts
  packages/mcp-coding/src/tools/create-pr.ts
  packages/mcp-coding/src/tools/request-review.ts
  packages/mcp-coding/src/types.ts
  packages/mcp-coding/tsconfig.json
  packages/workflows/.gitignore
  packages/workflows/README.md
  packages/workflows/biome.json
  packages/workflows/package.json
  packages/workflows/src/errors/index.ts
  packages/workflows/src/errors/workflow-errors.ts
  packages/workflows/src/index.ts
  packages/workflows/src/types/agent-states.ts
  packages/workflows/src/types/dependencies.ts
  packages/workflows/src/types/index.ts
  packages/workflows/src/types/workflow-config.ts
  packages/workflows/src/types/workflow-execution.ts
  packages/workflows/src/workflows/base-workflow.ts
  packages/workflows/src/workflows/coding-agent-workflow.ts
  packages/workflows/src/workflows/review-agent-workflow.ts
  packages/workflows/tsconfig.json
  packages/workflows/vitest.config.ts
Due: lint-core, typecheck

feat(mcp): complete end-to-end MCP integration for review workflow
  packages/workflows/src/workflows/review-agent-workflow.ts
Due: typecheck

feat(testing): add comprehensive test runner scripts and documentation
  README.md
  bun.lock
  package.json
  packages/core/test-integration.ts
  packages/mcp-review/package.json
  packages/mcp-review/src/index.ts
  packages/mcp-review/src/server.ts
  packages/mcp-review/src/tools/create-pr.ts
  packages/mcp-review/src/tools/save-review.ts
  packages/mcp-review/src/types.ts
  packages/mcp-review/tsconfig.json
  test-database.js
  test-runner.sh
  test-workflow.js
  test-workflow.ts
Due: typecheck

chore: clean up temporary test files
  packages/core/test-integration.ts
  test-database.js
  test-workflow.js
  test-workflow.ts
Due: typecheck

feat(tests): implement comprehensive workflow package test suite
  bun.lock
  packages/mcp-coding/package.json
  packages/mcp-coding/tests/fixtures/setup.ts
  packages/mcp-coding/tests/fixtures/test-data.ts
  packages/mcp-coding/tests/unit/create-pr.test.ts
  packages/mcp-coding/tests/unit/request-review.test.ts
  packages/mcp-coding/tests/unit/server.test.ts
  packages/mcp-coding/vitest.config.ts
  packages/mcp-review/package.json
  packages/mcp-review/src/index.ts
  packages/mcp-review/src/server.ts
  packages/mcp-review/src/tools/create-pr.ts
  packages/mcp-review/src/tools/save-review.ts
  packages/mcp-review/src/types.ts
  packages/mcp-review/tsconfig.json
  packages/workflows/package.json
  packages/workflows/tests/fixtures/setup.ts
  packages/workflows/tests/fixtures/test-data.ts
  packages/workflows/tests/integration/workflow-lifecycle.test.ts
  packages/workflows/tests/unit/coding-agent-workflow.test.ts
  packages/workflows/tests/unit/review-agent-workflow.test.ts
Due: typecheck

feat(workflows): implement structured prompt building system
  packages/core/migrations/0001_lowly_thundra.sql
  packages/core/migrations/0002_add_prompt_columns.sql
  packages/core/migrations/meta/0001_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/db/schema.ts
  packages/workflows/src/prompts/prompt-builder.ts
  packages/workflows/src/workflows/coding-agent-workflow.ts
  packages/workflows/src/workflows/review-agent-workflow.ts
  packages/workflows/tests/unit/coding-agent-workflow.test.ts
  packages/workflows/tests/unit/review-agent-workflow.test.ts
Due: lint-core, typecheck

fix(workflows): address linting issues and test mock improvements
  packages/workflows/src/prompts/prompt-builder.ts
  packages/workflows/src/workflows/coding-agent-workflow.ts
  packages/workflows/src/workflows/review-agent-workflow.ts
  packages/workflows/tests/fixtures/test-data.ts
  packages/workflows/tests/integration/workflow-lifecycle.test.ts
Due: typecheck

feat(tests): add MCP package tests and comprehensive smoke test
  bun.lock
  packages/mcp-coding/tests/unit/tools.test.ts
  packages/mcp-review/tests/unit/tools.test.ts
  packages/mcp-review/vitest.config.ts
  packages/workflows/tests/smoke/end-to-end.smoke.test.ts
Due: typecheck

refactor(workflows): eliminate all 'any' types and fix linting issues
  packages/workflows/src/workflows/coding-agent-workflow.ts
  packages/workflows/src/workflows/review-agent-workflow.ts
  packages/workflows/tests/fixtures/test-data.ts
  packages/workflows/tests/integration/workflow-lifecycle.test.ts
  packages/workflows/tests/smoke/end-to-end.smoke.test.ts
  packages/workflows/tests/unit/coding-agent-workflow.test.ts
  packages/workflows/tests/unit/review-agent-workflow.test.ts
Due: typecheck

fix(mcp-review): fix unused variable warning in tests
  packages/mcp-review/tests/unit/tools.test.ts
Due: typecheck

chore: update gitignore for improved development workflow
  .gitignore
Due: none

chore: remove obsolete documentation and scripts
  CLEAN_ARCHITECTURE_PLAN.md
  packages/core/IMPLEMENTATION_REPORT.md
  test-runner.sh
Due: none

feat(core): update database migration metadata for prompt fields
  packages/core/migrations/meta/0001_snapshot.json
  packages/core/migrations/meta/_journal.json
Due: lint-core

refactor(mcp-coding): update interfaces and fix test mocking
  packages/mcp-coding/src/tools/create-pr.ts
  packages/mcp-coding/src/tools/request-review.ts
  packages/mcp-coding/src/types.ts
  packages/mcp-coding/tests/fixtures/test-data.ts
  packages/mcp-coding/tests/unit/create-pr.test.ts
  packages/mcp-coding/tests/unit/request-review.test.ts
  packages/mcp-coding/tests/unit/server.test.ts
Due: typecheck

feat(mcp-review): update vitest configuration for improved test coverage
  packages/mcp-review/vitest.config.ts
Due: typecheck

fix multiline insert logic
  src/text-buffer.ts
Due: typecheck
